#projects .box {
  width: auto;
  position: relative;
  background: rgb(255, 255, 255);
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: groove 1px;
  transition: transform 0.3s ease;
}
#projects .text {
  color: #2a201c;
  font-size: 40px;
  font-weight: 700;
}

#projects .underline {
  width: 130px;
  height: 6px;
  background: #2a201c;
  border-radius: 9px;
}

#projects .box:hover {
  border: solid 1px;
  cursor: pointer;
  transform: scale(1.05);
}

#projects .tline {
  border-radius: 6px;
  padding: 4px 4px;
  background-color: cornsilk;
}

#allproject .stbd {
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
}

#allproject .tline {
  border-radius: 6px;
  padding: 4px 4px;
  background-color: cornsilk;
}

#allproject .foot {
  align-self: last baseline;
}
#allproject {
  background-color: #faebd7;
}

#allproject .card {
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border: groove 1px;
  transition: transform 0.3s ease;
}
#allproject .card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
